<footer class="footer sticky-bottom">
    <div class="container ">
     <div class="row">
       <div class="footer-col">
         <h4>QuickHire</h4>
         <ul>
           <li><a href="#">About us</a></li>
           <li><a href="#">Our services</a></li>
           <li><a href="#">Privacy policy</a></li>
           <li><a href="#">Career Resources</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>get help</h4>
         <ul>
           <li><a href="#">FAQ</a></li>
           <li><a href="#">Job Listings</a></li>
           <li><a href="#">Application Status</a></li>
           <li><a href="#">Resume Tips</a></li>
           <li><a href="#">Employer Contact</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Job Portal</h4>
         <ul>
           <li><a href="#">Job Listings</a></li>
           <li><a href="#"> Companies</a></li>
           <li><a href="#">Career Advice</a></li>
           <li><a href="#">Job Alerts</a></li>
         </ul>
        
         
         
       </div>
       <div class="footer-col">
         <h4>follow us</h4>
         <div class="social-links">
           <img src="../../../assets/Instagram.png" width="50px" alt="">
           <img src="../../../assets/Facebook.png" width="50px" alt="">
           <img src="../../../assets/X.png" width="40px" alt="">
           <img src="../../../assets/Linkedin.png" width="50px" alt="">
           
           <!-- <a href="#"><i class="fab fa-facebook-f"></i></a> -->
           <!-- <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="flaticon-instagram"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a> -->
         </div>
       </div>
     </div>
    </div>
 </footer>