<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-4">
            <div class="card my-4 border-0 rounded">
                <form class="card-body cardbody-color p-lg-5 card-radius">
                    <div class="text-center">
                        <h2 class="text-center text-dark">Create New Password</h2>
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                            alt="profile">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" aria-describedby="emailHelp"
                            placeholder="New Password">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="new-password" placeholder="Confirm New Password">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-color px-5 mb-5 w-100">Submit</button>
                    </div>
                 
                </form>
            </div>
        </div>
    </div>
</div>
