

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2  border-bottom sticky-top bg-navbar-color">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="../../../assets/Icon.png" alt="" height="50" width="50" class="mx-2">
    <span class="fs-4 ms-2">QuickHire</span> <!-- Add website name here -->
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a class="nav-link px-2 link-dark"(click)="home($event)" >Home</a></li>
    <li><a class="nav-link px-2 link-dark"(click)="jobs($event)" >Jobs</a></li>
    <li><a class="nav-link px-2 link-dark"(click)="about($event)" >About</a></li>
    <li><a class="nav-link px-2 link-dark"(click)="contact($event)" >Contact us</a></li>
  </ul>


  <div class="col-md-3 text-end me-2" *ngIf="!isLogin">
    <button type="button" class="btn btn-outline-dark me-2"  (click)="login()" >Login</button>
    <button type="button" class="btn btn-outline-dark me-2" (click)="signup()">Sign-up</button>
  </div>

  <div class="col-md-3 text-end me-2 " *ngIf="isLogin">
    <div class="dropdown text-end">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle me-2" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" (click)="myjobs($event)" >My Jobs</a></li>
        <li><a class="dropdown-item" (click)="profile($event)">Profile</a></li>
        <li><a class="dropdown-item" (click)="setting($event)">Settings</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="signout($event)">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>
