<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-90">

        <div class="col-md-4">
            <div class="card my-4 border-0 rounded">
                <form class="card-body cardbody-color p-lg-5 card-radius">
                    <div class="text-center">
                        <h2 class="text-center text-dark mb-4">User Information</h2>
                    </div>
                    <div class="mb-3" >
                        <select name="User-Type" class="form-control" id="User-Type">
                            <option value="#">Select Account Type</option>
                            <option value="Individual-Employer">Job Hunter</option>
                            <option value="Company-hr">Company HR</option>
                            <!-- <option value="Freelancer">Freelancer</option> -->
                            <option value="Company">Company / Business </option>
                        </select>
                    </div>


                    <!-- For Job Hunter -->
                    <!-- <div class="mb-3">
                        <select name="Work-experience" class="form-control" id="Work-experience">
                            <option value="#">Work Experience</option>
                            <option value="Mh">Fresher</option>
                            <option value="KA">Experience</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <select name="Job-type" class="form-control" id="Job-type">
                            <option value="#">Desired Job Type </option>
                            <option value="FullTime">Full-Time</option>
                            <option value="PartTime">Part-Time</option>
                            <option value="Internship">Internship</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <select name="State" class="form-control" id="State">
                            <option value="#">Select State</option>
                            <option value="Mh">Maharashtra</option>
                            <option value="KA">Karnataka</option>
                            <option value="TN">TamilNadu</option>
                            <option value="TL">Telangana</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <select name="City" class="form-control" id="City">
                            <option value="#">City</option>
                            <option value="Mh">Pune</option>
                            <option value="KA">Mumbai</option>
                            <option value="TN">Chennai</option>
                            <option value="TL">Hydrabad</option>
                            <option value="TL">Bengaluru</option>
                        </select>
                    </div> -->


                    <!-- For Company HR -->

                    <!-- <div class="mb-3">
                        <input type="text" class="form-control" id="Designation" placeholder="Designation">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="Department" placeholder="Department">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="Company" placeholder="Company Name">
                    </div> -->


                    <!-- For Company -->

                    <!-- Business type
                    Business registration number
                    Industry
                    Number of employees
                    Company website -->

                    <div class="mb-3">
                        <input type="text" class="form-control" id="CIN"
                            placeholder="Corporate Identification Number (CIN)">
                    </div>

                    <select name="businessType" class="form-control mb-3" id="businessType">
                        <option value="#">Select Business Type</option>
                        <option value="Technology/Software">Technology/Software</option>
                        <option value="Healthcare/Medical">Healthcare/Medical</option>
                        <option value="Finance/Accounting">Finance/Accounting</option>
                        <option value="Education/Training">Education/Training</option>
                        <option value="Retail/Wholesale">Retail/Wholesale</option>
                        <option value="Manufacturing/Production">Manufacturing/Production</option>
                        <option value="Consulting/Professional Services">Consulting/Professional Services</option>
                        <option value="Hospitality/Travel">Hospitality/Travel</option>
                        <option value="Real Estate/Property">Real Estate/Property</option>
                        <option value="Marketing/Advertising">Marketing/Advertising</option>
                        <option value="other">Other</option>
                    </select>

                    <div class="mb-3">
                        <select name="No-of-employee" class="form-control" id="No-of-employee">
                            <option value="#">Number of employees</option>
                            <option value="2-10">2-10</option>
                            <option value="11-50">11-50</option>
                            <option value="51-100">51-100</option>
                            <option value="100-500">100-500</option>
                            <option value="Above 500">Above 500</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="Company-website" placeholder="Company website">
                    </div>



                    <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            I agree On term And Condition And Privacy Poicy
                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-color px-5 mb-2 w-100">Submit</button>
                    </div>
                    <!-- <div class="form-text text-center mb-2 text-dark">
                        Already Registered? <a href="#" class="text-dark fw-bold" (click)="signin($event)"> Sign In</a>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>