<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-90">
        <div class="col-md-4">
            <div class="card my-4 border-0 rounded">
                <form [formGroup]="user_type_info" class="card-body cardbody-color p-lg-5 card-radius">
                    <div class="text-center">
                        <h2 class="text-center text-dark mb-4">User Information</h2>
                    </div>
                    <div class="mb-3">
                        <select formControlName="userType" (change)="onUserTypeChange($event)" class="form-control">
                            <option value="" disabled selected>Select User Type</option>
                            <option *ngFor="let type of userTypes" [value]="type">{{ type }}</option>
                        </select>
                    </div>

                    <!-- For Job Hunter -->
                    <div *ngIf="userType === 'Job Hunter'">
                        <div class="mb-3">
                            <select formControlName="workExperience" class="form-control" id="workExperience">
                                <option value="" disabled selected>Work Experience</option>
                                <option value="Fresher">Fresher</option>
                                <option value="Experience">Experience</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select formControlName="jobType" class="form-control" id="jobType">
                                <option value="" disabled selected>Desired Job Type</option>
                                <option value="FullTime">Full-Time</option>
                                <option value="PartTime">Part-Time</option>
                                <option value="Internship">Internship</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select formControlName="state" class="form-control" id="state"
                                (change)="onUserStateChange($event)">
                                <option value="" disabled selected>Select State</option>
                                <option value="MH">Maharashtra</option>
                                <option value="KA">Karnataka</option>
                                <option value="TN">Tamil Nadu</option>
                                <option value="TL">Telangana</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select formControlName="city" class="form-control" id="city">

                                <option value="" disabled selected>City</option>
                                <option value="Pune" *ngIf="selectedState === 'MH'">Pune</option>
                                <option value="Mumbai" *ngIf="selectedState === 'MH'">Mumbai</option>
                                <option value="Chennai" *ngIf="selectedState === 'TN'">Chennai</option>
                                <option value="Hyderabad" *ngIf="selectedState === 'TL'">Hyderabad</option>
                                <option value="Bengaluru" *ngIf="selectedState === 'KA'">Bengaluru</option>
                            </select>
                        </div>
                    </div>

                    <!-- For Employer -->
                    <div *ngIf="userType === 'Employer'">
                        <div class="mb-3">
                            <input formControlName="designation" type="text" class="form-control" id="designation"
                                placeholder="Designation*">


                            <div *ngIf="user_type_info.get('designation')?.errors?.['required'] && user_type_info.get('designation')?.touched"
                                class="warning">
                                Designation is mandatory.
                            </div>
                            <div *ngIf="user_type_info.get('designation')?.errors?.['pattern'] && user_type_info.get('designation')?.touched"
                                class="warning">
                                Symbols not allowed.
                            </div>




                        </div>



                        <div class="mb-3">
                            <input formControlName="department" type="text" class="form-control" id="department"
                                placeholder="Department*">


                            <div *ngIf="user_type_info.get('department')?.errors?.['required'] && user_type_info.get('department')?.touched"
                                class="warning">
                                Department Name mandatory.
                            </div>
                            <div *ngIf="user_type_info.get('department')?.errors?.['pattern'] && user_type_info.get('department')?.touched"
                                class="warning">
                                Symbols and Numbers are not allowed.
                            </div>

                        </div>



                        <div class="mb-3">
                            <input formControlName="company" type="text" class="form-control" id="company"
                                placeholder="Company Name*">

                            <div *ngIf="user_type_info.get('company')?.errors?.['required'] && user_type_info.get('company')?.touched"
                                class="warning">
                                Company Name mandatory.
                            </div>
                            <div *ngIf="user_type_info.get('company')?.errors?.['pattern'] && user_type_info.get('company')?.touched"
                                class="warning">
                                Symbols not allowed.
                            </div>

                        </div>
                    </div>

                    <!-- For Company -->
                    <div *ngIf="userType === 'Company'">
                        <div class="mb-3">
                            <input formControlName="CIN" type="text" class="form-control" id="CIN"
                                placeholder="Corporate Identification Number (CIN)*">


                                <div *ngIf="user_type_info.get('CIN')?.errors?.['required'] && user_type_info.get('CIN')?.touched"
                                class="warning">
                               CIN Number is Mandatory
                            </div>
                            <div *ngIf="user_type_info.get('CIN')?.errors?.['pattern'] && user_type_info.get('CIN')?.touched"
                                class="warning">
                               CIN Number is Must Alphanumeric and Must 5 Digit
                            </div>


                        </div>
                        <div class="mb-3">
                            <select formControlName="businessType" class="form-control" id="businessType">
                                <option value="" disabled selected>Select Business Type *</option>
                                <option value="Technology/Software">Technology/Software</option>
                                <option value="Healthcare/Medical">Healthcare/Medical</option>
                                <option value="Finance/Accounting">Finance/Accounting</option>
                                <option value="Education/Training">Education/Training</option>
                                <option value="Retail/Wholesale">Retail/Wholesale</option>
                                <option value="Manufacturing/Production">Manufacturing/Production</option>
                                <option value="Consulting/Professional Services">Consulting/Professional Services
                                </option>
                                <option value="Hospitality/Travel">Hospitality/Travel</option>
                                <option value="Real Estate/Property">Real Estate/Property</option>
                                <option value="Marketing/Advertising">Marketing/Advertising</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <select formControlName="noOfEmployees" class="form-control" id="noOfEmployees">
                                <option value="" disabled selected>Number of Employees *</option>
                                <option value="2-10">2-10</option>
                                <option value="11-50">11-50</option>
                                <option value="51-100">51-100</option>
                                <option value="100-500">100-500</option>
                                <option value="Above-500">Above 500</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <input formControlName="companyWebsite" type="text" class="form-control" id="companyWebsite"
                                placeholder="Company Website / Linkedin*">


                            <div *ngIf="user_type_info.get('companyWebsite')?.errors?.['required'] && user_type_info.get('companyWebsite')?.touched"
                                class="warning">
                                Compmany Website or Linkedin is mandatory.
                            </div>
                            <div *ngIf="user_type_info.get('companyWebsite')?.errors?.['pattern'] && user_type_info.get('companyWebsite')?.touched"
                                class="warning">
                                Website/ Linkedin Must start from www or http/https and end with .com or .in
                            </div>


                        </div>
                    </div>


                    <!-- <div class="mb-3 form-check">
                        <input formControlName="agreeTerms" type="checkbox" class="form-check-input" id="agreeTerms">
                        <label class="form-check-label" for="agreeTerms"> I agreeTerms to the <a
                                href="https://www.termsfeed.com/blog/terms-conditions-url/">Terms and Conditions</a> and
                            <a href="https://www.freeprivacypolicy.com/blog/privacy-policy-url/">Privacy
                                Policy</a></label>
                    </div> -->
                    <button type="submit" class="btn btn-color px-5 mb-2 w-100" (click)="onSubmit()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>