<div class="temp-section">
    <div class="marquee">
        <div class="card-container">
          <div class="card mx-4">Card 1</div>
          <div class="card mx-4">Card 2</div>
          <div class="card mx-4">Card 3</div>
          <div class="card mx-4">Card 4</div>
          <!-- Repeat cards to ensure continuous scrolling -->
          <div class="card mx-4">Card 1</div>
          <div class="card mx-4">Card 2</div>
          <div class="card mx-4">Card 3</div>
          <div class="card mx-4">Card 4</div>
        </div>
      </div>
</div>
