<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">My Account </a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">User Profile</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">John Smith</h5>
                        <p class="text-muted mb-1">Full Stack Developer</p>
                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                        <div class="d-flex justify-content-center mb-2">
                            <!-- <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Follow</button>
                              -->

                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-outline-primary ms-1">Update Profile</button>


                        </div>


                    </div>
                </div>



                <div class="card mb-4 mb-lg-0 p-4">
                    <div class="card-body p-1">
                        <h5>Skills</h5>
                        <ul>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>
                            <li>abc</li>



                        </ul>
                    </div>
                </div>






            </div>


            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Johnatan Smith</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">exampleexample.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Resume</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-body">
                        <h5>Summary</h5>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate eligendi dolor aperiam
                            sed deserunt? Repellendus earum, maxime voluptates nulla expedita non quis rem! Beatae,
                            velit. Optio repudiandae labore dolores quisquam! Vero maxime facilis repellendus nihil
                            consectetur! Ullam, possimus tenetur maiores libero, modi quos atque nesciunt at illum
                            dolorum itaque nostrum aperiam nam debitis. </p>
                    </div>
                </div>




                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="p-2">Education</h5>
                        <hr>
                        <div class="row">
                            
                            
                            <p>Universty Name</p>
                                <p>Degree</p>
                                <p> Aug 2023 - Aug 2024</p>
                                <p>Grade : 75%</p>

                                
                        </div>
                        <hr>
                        <!-- <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div> -->
                    </div>
                </div>












            </div>

            <br>
            <div class="row mt-4">

                <div class="col-md-12 mb-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <h3 class="mb-4"> Projects</h3>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="card mb-4 mb-md-0">
                                        <div class="card-body">
                                            <h5>Skills</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Molestias, aut unde modi culpa perspiciatis cumque temporibus
                                                quaerat quis quidem, dicta distinctio sequi voluptates eligendi
                                                tempore saepe laudantium ut reprehenderit ad consectetur
                                                corrupti similique consequatur nihil at aliquam? Debitis totam
                                                voluptatum vero vel ex eveniet, assumenda consectetur, vitae
                                                molestiae amet quis. Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Officia odit nihil labore omnis eligendi ipsam
                                                ad esse? Velit esse eum perspiciatis repudiandae enim aliquid
                                                temporibus non, aut quos rerum. Qui natus commodi dolorum.
                                                Praesentium nulla voluptas qui nisi soluta. Pariatur culpa animi
                                                dicta suscipit voluptatum. Delectus debitis repudiandae ea
                                                maiores aliquam pariatur iusto excepturi sed, deserunt quibusdam
                                                non nesciunt accusamus similique vel et vero voluptas eligendi?
                                                Molestiae maiores totam laborum. Unde ex explicabo aut natus
                                                sunt. Modi, consequatur! Corporis expedita obcaecati distinctio
                                                quam accusantium id ratione nam, sint suscipit itaque debitis
                                                reiciendis ad illum. In voluptas modi ea repellat animi

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="card mb-4 mb-md-0">
                                        <div class="card-body">
                                            <h5>Skills</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Molestias, aut unde modi culpa perspiciatis cumque temporibus
                                                quaerat quis quidem, dicta distinctio sequi voluptates eligendi
                                                tempore saepe laudantium ut reprehenderit ad consectetur
                                                corrupti similique consequatur nihil at aliquam? Debitis totam
                                                voluptatum vero vel ex eveniet, assumenda consectetur, vitae
                                                molestiae amet quis. Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Officia odit nihil labore omnis eligendi ipsam
                                                ad esse? Velit esse eum perspiciatis repudiandae enim aliquid
                                                temporibus non, aut quos rerum. Qui natus commodi dolorum.
                                                Praesentium nulla voluptas qui nisi soluta. Pariatur culpa animi
                                                dicta suscipit voluptatum. Delectus debitis repudiandae ea
                                                maiores aliquam pariatur iusto excepturi sed, deserunt quibusdam
                                                non nesciunt accusamus similique vel et vero voluptas eligendi?
                                                Molestiae maiores totam laborum. Unde ex explicabo aut natus
                                                sunt. Modi, consequatur! Corporis expedita obcaecati distinctio
                                                quam accusantium id ratione nam, sint suscipit itaque debitis
                                                reiciendis ad illum. In voluptas modi ea repellat animi!</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>