<div class="container">
  <div class="row mt-5">



    <div class="col-md-12" *ngIf="userType === 'Company' || userType === 'Employer'">

      <div class="my-2">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <button class="btn btn-success me-3">Post New Job</button>
            <button class="btn btn-warning">Your Dashboard</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <h5 class="card-header">Personal Information</h5>
        <div class="card-body">
          <table class="table table-borderless p-1">
            <tbody>
              <tr *ngIf="userType === 'Job Hunter'">
                <td class="col-2"><b>Name :</b></td>
                <td class="col-10">Pawan Kumar Singh</td>
              </tr>
              <tr *ngIf="userType === 'Company'">
                <td class="col-2"><b>Company Name :</b></td>
                <td class="col-10">Pawan Kumar Singh</td>
              </tr>
              <tr>
                <td class="col-2"><b>Email :</b></td>
                <td class="col-10">ancdaemial.com</td>
              </tr>
              <tr>
                <td class="col-2"><b>Phone :</b></td>
                <td class="col-10">1234567890</td>
              </tr>
              <tr>
                <td class="col-2"><b>City :</b></td>
                <td class="col-10">Pune, Maharashtra</td>
              </tr>
              <tr *ngIf="userType === 'Company'">
                <td class="col-2"><b>Company Address :</b></td>
                <td class="col-10">Pune, Maharashtra</td>
              </tr>
            </tbody>


          </table>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="profile-header">
            <div class="text-center">
              <img src="" class="rounded" alt="Profile Image">
            </div>
            <p class="card-text">Full Stack Developer</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">Summary</h5>
        <div class="card-body">
          <p class="card-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis magni inventore culpa eius, voluptates
            saepe alias nam, ipsa quisquam illum soluta fugit? Accusantium, fugiat rem non fuga dolorem a minima
            obcaecati nihil vero perferendis nam repellat commodi eos ipsa autem tenetur quos facere optio eius!
            Consequatur facilis eaque reprehenderit totam!
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">Skills</h5>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <ul class="skills-list">
              <li>Python</li>
              <li>Angular</li>
              <li>C Programming</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">Education</h5>
        <div class="card-body">
          <p class="card-text">Institution:</p>
          <p class="card-text">Degree:</p>
          <p class="card-text">Graduation Year:</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">Experience</h5>
        <div class="card-body">
          <p class="card-text">Company Name:</p>
          <p class="card-text">Designation:</p>
          <p class="card-text">Start Date:</p>
          <p class="card-text">End Date:</p>
        </div>
      </div>
    </div>

    <div class="col-md-12" id="job-hunter-section">
      <div class="card">
        <h5 class="card-header">Account Information</h5>
        <div class="card-body">
          <p class="card-text">Account Type:</p>
          <p class="card-text">Country:</p>
          <p class="card-text">State:</p>
          <p class="card-text">Job Preference: Only for Job Hunter</p>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary me-3">Update Profile</button>
            <button class="btn btn-danger">Delete Profile</button>
          </div>
        </div>
      </div>
    </div> -->




    <!-- Employer Specific Section -->
    <div class="col-md-12" id="employer-section">
      <div class="card">
        <h5 class="card-header">Employer Details</h5>
        <div class="card-body">
          <p class="card-text">Designation: </p>
          <p class="card-text">Department: </p>
          <p class="card-text">Company:</p>
          <p class="card-text">CIN: </p>
        </div>
      </div>
    </div>


    <!-- Table -->



    <div class="col-md-12" id="employer-section">
      <div class="card">
        <h5 class="card-header">Posted Jobs</h5>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Job ID</th>
                <th>Job Title</th>
                <th>Reply</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>ABC123</td>
                <td>Software Engineer</td>
                <td>
                  <button class="btn btn-primary">Reply</button>
                  <button class="btn btn-warning ms-2">Details</button>

                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>






    <!-- Company Specific Section -->
    <!-- <div class="col-md-12" id="company-section">
      <div class=" card">
        <div class="card-body">
          <h5 class="card-title">Company Details</h5>
          <p class="card-text">Business Type: </p>
          <p class="card-text">Number of Employees: </p>
          <p class="card-text">Website: </p>
          <p class="card-text">Description: </p>
        </div>
      </div>
    </div> -->
  </div>
</div>




<!-- only for Company and Hr -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jobPostModal">
  Post Job
</button>

<!-- Modal -->
<div class="modal fade" id="jobPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Post a Job</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form ngSkipHydration novalidate>
          <div class="mb-3">
            <label for="jobId" class="form-label">Job ID</label>
            <input type="text" class="form-control" id="jobId" placeholder="Job ID" required>
          </div>
          <div class="mb-3">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input type="text" class="form-control" id="jobTitle" placeholder="Job Title" required>
          </div>
          <div class="mb-3">
            <label for="experience" class="form-label">Experience</label>
            <input type="number" class="form-control" id="experience" placeholder="In Years Example., 2-5 " required>
          </div>

          <div class="mb-3">
            <label for="jobDescription" class="form-label">Job Description</label>
            <textarea class="form-control" id="jobDescription" rows="4" required></textarea>
          </div>



          <div class="mb-3">
            <label for="Skills" class="form-label">Skills</label>
            <tag-input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="items"
              (ngModelChange)="onItemsChange($event)" placeholder="Add a skill" secondaryPlaceholder=" + Add A Skill">
            </tag-input>


          </div>



          <!-- <div class="mb-3">
            <label for="jobLocation" class="form-label">Job Location</label>
            <input type="text" class="form-control" id="jobLocation" placeholder="" required>
          </div> -->

          <div class="mb-3">
            <label for="jobLocation" class="form-label">Job Location</label>
            <select class="form-select" id="jobLocation" required>
              <option disabled selected>Select Location...</option>
              <option value="Pune">Pune, Maharashtra</option>
              <option value="Mumbai">Mumbai, Maharashtra</option>
              <option value="Bengaluru">Bengaluru, Karnataka</option>
              <option value="Chennai">Chennai, Tamilnadu</option>
              <option value="Hyderabad">Hyderabad, Telangana</option>
              <option value="Delhi">Delhi, NCR</option>

            </select>
          </div>


          <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="text" class="form-control" id="salary" placeholder="" required>
          </div>
          <div class="mb-3">
            <label for="employmentType" class="form-label">Employment Type</label>
            <select class="form-select" id="employmentType" required>
              <option disabled selected>Select...</option>
              <option value="Full-time">Full-time</option>
              <option value="Part-time">Part-time</option>
              <option value="Contract">Contract</option>
              <option value="Temporary">Temporary</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary me-4">Post</button>
          <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>




<!-- skills tag -->
<!-- <tag-input [ngModelOptions]="{standalone: true}" [(ngModel)]="items" (ngModelChange)="onItemsChange($event)"
  placeholder="Add a skill" secondaryPlaceholder=" + Add A Skill">
</tag-input> -->