<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-4">
            <div class="card my-4 border-0 rounded">
                <form class="card-body cardbody-color p-lg-5 card-radius" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <h2 class="text-center text-dark">Procced To Change Password</h2>
                        <img src="https://banner2.cleanpng.com/20180504/zuq/kisspng-computer-icons-email-address-gmail-google-drive-convenient-and-quick-5aec1cd0458191.6849526715254233122847.jpg"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="10px"
                            alt="profile">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="email"  aria-describedby="emailHelp"placeholder="Email"   [(ngModel)]="email"  [ngModelOptions]="{standalone: true}" >
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-color px-5 mb-5 w-100">Submit</button>
                    </div>
                 
                </form>
            </div>
        </div>
    </div>
</div>
